<div class="contenedor">
<h1>Proyectos Realizados</h1>
<div >
    <h3>Modal</h3>
    <p>modal html css javascript</p>
    <br>
    <img src="../../../assets/modal.png" alt="">
</div>
<div >
    <h3>my task list</h3>
    <p>my task list realizada con angular y Json realizada de  lo pedido en el curso</p>
    <br>
    <img src="../../../assets/my task list.png" alt="">
</div>
<div >
    <h3>carrousel</h3>
    <p>carrousel creado con html y css pensado para la presentacion de diseños en un microemprendimiento</p>
    <br>
    <img src="../../../assets/carrousel modal.png" alt="">
</div>
</div>

   
       
    